<nav class="navbar navbar-expand-lg navbar-light --bright-blue "style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " href="#" >Student Tracking in Hostel</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      
    </div>
  </nav>



<!--div>
    <nav class="navbar navbar-light" style="background-color: #457da4;">
        <div class="container-fluid">
          <a class="navbar-brand">Studet Tracking in Hostel</a>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
</!--div-->




<!--  
<nav class="navbar sticky-top navbar-dark" style="background-color: #457da4;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <div class="mx-2">
        <a class="navbar-brand" href="#" style="font-size: large; color: #e2dcdc; font-style: italic ; size: 200px; "> Student Tracking in Hostel</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home.html" style="color: rgb(227, 233, 233) ;  ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about.html" style="color: azure;">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="overview.html " style="color: azure;">Contact</a>
          </li>

        
        
         

         


        </ul>
       
        <form class="d-flex">
          
          
          
        </form>
        
      </div>
    </div>
  </nav>


-->