
    <div class="center">
      <h1>Login</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Password</label>
        </div>
        
        <a href="https://thingspeak.com/channels/1948751/private_show">
        <input type="submit" value="Login" >
         </a>
        <div class="signup_link">
          Not a member? <a href="https://mail.google.com/mail/u/4/#inbox">Signup</a>
        </div>
      </form>
    </div>

 